<div id="app"></div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    // onready, instantiate App
    app = new App({el: $("#app")})
    app.append( this.item = new App.<%= uc_tab %>)
  });
</script>
