Here
<div id="notice" class="notice"></div>
<div id="apps"></div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    // onready, instantiate App
    new App({el: $("#apps")})
  });
</script>
