/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
$sidebarWidth: 200px;
$fieldBg: #eee;
$barStart: #f8f8f8;
$barDark: #cfcfcf;
$barStop: #a8a8a8;
$barBorder: #dedede;
$colorStop: 75%;

.stack > *:not(.active) {
  display: none !important;
}

html,
body {
  background-color:#e4e4e4 !important;
  padding: 0;
  margin:0;
  height:100%;
  width:100%;
  min-width:902px;

  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-align:stretch;
}

#header {
  height:46px;
  background-image:-webkit-gradient(linear, center bottom, center top, from(#aaa), to(#222));
  margin:0;
}


@mixin boxVH {
    -webkit-box-flex:1;
    display:-webkit-box;
    -webkit-box-align:stretch;
}

@mixin boxV {
  @include boxVH;
  -webkit-box-orient:vertical;
}

@mixin boxH {
  @include boxVH;
  -webkit-box-orient:horizontal;
}

#app {
  @include boxV;

  div.allApp {
    @include boxH;
    -webkit-box-pack:start;

    div.sidebar {
      display:-webkit-box;
      -webkit-box-orient:vertical;
      -webkit-box-align:stretch;
      padding: 0;
      width:$sidebarWidth + 20px;

      div.items {
        -webkit-box-flex:1;
        padding:12px 0 12px 12px;
      }

      ul.show {
        width: $sidebarWidth;
        clear:both;
        li {
          font-size:12px;
        }
        li:hover a {
          background: #ccc;
          color:black;
        }
      }
    }

    div.divUpDown {
      width:8px;
      border-width: 0 1px 0 1px;
      background: -webkit-gradient(linear, left center, right center, from($barStart), color-stop($colorStop,$barDark), to($barStop));
      border-left:1px dotted $barBorder;
    }

    div.plugs.show, 
    div.plugs.new, 
    div.plugs.edit {
      @include boxV;
      margin-bottom:20px;
    }


    div.leftRight {
      height:8px;
      border-width: 0 1px 0 1px;
      background: -webkit-gradient(linear, center bottom, center top, from($barStart), color-stop($colorStop,$barDark), to($barStop));
      border-top:1px dotted $barBorder;
      margin-left:-1px;
    }

    div.fieldsWrap {
      @include boxH;
      -webkit-box-pack:start;
    }

    div.fields {
      @include boxV;
    }

    div.stack.plugs {
      margin: 0;
      @include boxV;
    }

    footer {
      padding:6px;
      background:#eee;
    }
  }
}


@mixin relBlockLeft {
  display:block;
  position:relative;
  float:left;
}

@mixin paneDivs {
  @include relBlockLeft;
  border: 1px dotted #ccc;
  -webkit-border-radius:8px;
  padding:0 0px 12px 16px;  
  box-shadow: 8px 8px 16px #bbb;
}

div#rightPane {
  @include paneDivs;
  margin-left:18px;
  max-width:640px;
  min-width:640px;
}

ul.show {
  @include relBlockLeft;
  padding-left:6px;
  width:646px;
  margin:2px 0;
  li {
    @include relBlockLeft;
    list-style:none;
    font-size:13px;
    height:18px;
  }
  li.lab {
    font-weight:bold;
    font-size:11px;
    font-style:italic;
    margin:1px 4px 0 12px;
    color:navy;
  }
  li.val,li.val input {
    width:120px;
    min-width:80px;
    white-space:nowrap;
    margin-left:10px;
    text-align:right;
    -webkit-border-radius:6px;
    border-bottom:1px dotted #d4d4d4;
  }

  li.val input , li.val select {
    border:none;
    background: $fieldBg;
    margin-left:0;
    text-align:left;
    box-shadow:5px 5px 8px #ccc;

  }

  li.buttons { 
    color:transparent;
    width:32px;
    height:32px;
    a {
      color:transparent;
      font-size:32px;
      overlay:hidden;
    }
  }
  
  li.actions {
    float:right;
    margin-right: 4px;
    button {
      margin-right:4px;
    }
  }

  li.show {
    background:url("view32.png");
  }

  li.back, button.back {
    background:url("goback32.png");
  }
}

ul.show.item:hover {
  background:#eff;
  cursor:pointer;
}

button {
  border:none;
  width:16px;
  height:16px;
  margin:0;
  opacity:0.7;
  background:url("edit16.png");
  margin-left: 8px;
  color:transparent;
}

button:hover{
  opacity:1;
  background-color: #c8c8c8 !important;
}

div.head {
  font-size:28px;
  color:#353;
  width:620px;
  margin:20px 0 16px 20px;
  position:relative;
  float:left;
  font-style:italic;
  font-weight:bold;
  background-image:-webkit-gradient(linear, left center, right center, from(#eee), to(#d3d3d3));
  -webkit-border-radius:5px;
  padding:3px 0px 2px 5px;

  button {
    color:transparent;
    background:url("goback32.png");
    cursor:pointer;
    margin:1px 4px 1px 0px;
    width:32px;
    height:32px;
    float:right;
  }
  button.back {
    background:url("goback32.png");
  }
  button.edit {
    background:url("edit32.png");
  }
  button.add, button.new {
    color:transparent;
    cursor:pointer;
    background:url("add16.png");
    height:16px;
    width:16px;
    margin:2px 1px 8px;
  }

  button.showHide {
    background:url("arrow_down24.png");
    height:24px;
    width:24px;
    margin:2px 7px 3px;
  }
  button.showHide.opened {
    background:url("arrow_up24.png");
  }
}

div.head.less {
  font-size:15px;
  width:$sidebarWidth - 6px;
  height:21px;
  margin:8px 0;
}

div.head.child {
  margin:16px 0 0 32px;
  width:606px;
  font-size:22px;
}

ul.show.text li.val {
    background: $fieldBg;
}
ul.show.labels {
  margin-left:0px;
  clear:both;
  margin-bottom:1px solid #888;
  height:22px;
  li.lab {
    width:120px;
    text-align:right;
    margin:0 0 0 10px;
    font-size:13px;
  }
}

ul.show.form {
  clear:right;
}

button.alledit{
  background:url("alledit16.png");
}

@mixin saveButton {
  background:url('dbsave24.png');
  width:24px;
  height:24px;
  position:relative;
  float:left;
  margin:-3px 0 0 8px;
  cursor:pointer;
  border:none;
}

button.save {
  @include saveButton;
}


button.add, button.new {
  color:transparent;
  cursor:pointer;
  background:url("add16.png");
  margin-bottom:12px;
}

button.delete {
  background:url("delete16.png");
}

ul.add_field {
  position:relative;
  float:left;
  margin-top:12px;
  li {
    button {
      background:url('dbadd24.png');
    }
  }
} 

#fieldWrap {
  max-width:646px;
}
