/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
$sidebarWidth: 200px;
$fieldBg: #eee;
$barStart: #f8f8f8;
$barDark: #cfcfcf;
$barStop: #a8a8a8;
$barBorder: #dedede;
$colorStop: 75%;
$headerDark: #000;
$headerLight: #555;

$headerHeight: 40px;

.stack > *:not(.active) {
  display: none !important;
}

html,
body {
  background-color:#efefef !important;
  padding: 0;
  margin:0;
  height:100%;
  width:100%;
  min-width:902px;

  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-align:stretch;
}

#header {
  height:$headerHeight;
  background-image:-webkit-gradient(linear, center top, center bottom, from($headerLight), to($headerDark));
  margin:0;
  color:#ddd;
  font-style:italic;
  .title {
    margin:9px 0 0 14px;
    font-size:21px;
    position:relative;
    float:left;
  }
  .personal {
    position:relative;
    float:right;
    margin-right:8px;
  }

}

footer {
  padding:6px;
  background-image:-webkit-gradient(linear, center top, center bottom, from($headerLight), to($headerDark));
  color:#ccc;
}


@mixin boxVH {
    -webkit-box-flex:1;
    display:-webkit-box;
    -webkit-box-align:stretch;
}

@mixin boxV {
  @include boxVH;
  -webkit-box-orient:vertical;
}

@mixin boxH {
  @include boxVH;
  -webkit-box-orient:horizontal;
}

.main {
  width:100%;
  @include boxV;
}

$menuBg:#333;
$menuBorder:#bbb;
$menuColor:#efefef;
.search {
  position:absolute;
  width:220px;
  background:$menuBg;
  height:30px;
  p {
    margin:6px 0 0 12px;
    color:$menuColor;
    font-size:14px;
    position:relative;
    float:left;
    width:auto;
  }
  input {
    margin:2px 0 0 0;
    -webkit-border-radius:8px;
    background:#ddd;
    width:152px;
    height:14px;
    margin:7px 0 0 9px;
    border:none;
  }
}

.menu {
  background:$menuBg;
  width:100%;
  height:23px;
  position:relative;
  float:left;
  margin:0;
  padding:7px 0 0 0;
  border-bottom:1px solid $menuBorder;
  ul {
    position:relative;
    float:left;
    margin:0;
    padding:0 8px;
    li {
      position:relative;
      float:left;
      list-style:none;
      margin:0px 3px 0 0;
      padding:0px 7px;
      border-right:1px solid $menuBorder;
      height:20px;
      a {
        font-size:14px;
        color:$menuColor;
      }
    }
  }
}

#app {
  @include boxV;

  div.allApp {
    @include boxH;
    -webkit-box-pack:start;

    div.sidebar {
      display:-webkit-box;
      -webkit-box-orient:vertical;
      -webkit-box-align:stretch;
      padding: 0;
      width:$sidebarWidth + 20px;

      div.items {
        -webkit-box-flex:1;
        padding:12px 0 12px 10px;
        div.item {
          margin:6px 0;
        }
      }

      ul.show {
        width: $sidebarWidth - 9px;
        clear:both;
        margin:3px 8px 1px;
        li {
          font-size:12px;
        }
        li:hover a {
          background: #ccc;
          color:black;
        }
      }
    }

    $divWidth:5px;
    div.divUpDown {
      width:$divWidth;
      border-width: 0 1px 0 1px;
      background: -webkit-gradient(linear, left center, right center, from($barStart), color-stop($colorStop,$barDark), to($barStop));
      border-left:1px dotted $barBorder;
    }

    div.plugs.show, 
    div.plugs.new, 
    div.plugs.edit {
      @include boxV;
      margin-bottom:20px;
    }


    div.leftRight {
      height:$divWidth;
      border-width: 0 1px 0 1px;
      background: -webkit-gradient(linear, center bottom, center top, from($barStop), color-stop(100-$colorStop,$barDark), to($barStart));
      border-top:1px dotted $barBorder;
      margin-left:-1px;
      display:none;
    }

    div#fieldWrap {
      max-width:646px;
      margin:0;
    }

    div.fields {
      @include boxV;
      max-width:670px;
    }

    div.stack.plugs {
      margin: 0 0 20px 0;
    }

  }
}


@mixin relBlockLeft {
  display:block;
  position:relative;
  float:left;
}

@mixin paneDivs {
  @include relBlockLeft;
  border: 1px dotted #ccc;
  -webkit-border-radius:8px;
  padding:0 0px 12px 16px;  
  box-shadow: 8px 8px 16px #bbb;
}

div#rightPane {
  @include paneDivs;
  margin-left:18px;
  max-width:640px;
  min-width:640px;
}

ul.show {
  @include relBlockLeft;
  padding-left:6px;
  width:616px;
  margin:2px 20px;
  li {
    @include relBlockLeft;
    list-style:none;
    font-size:13px;
    height:18px;
  }
  li.lab {
    font-weight:bold;
    font-size:11px;
    font-style:italic;
    margin:1px 4px 0 12px;
    color:navy;
  }
  li.val,li.val input {
    width:120px;
    min-width:80px;
    white-space:nowrap;
    margin-left:10px;
    text-align:right;
    -webkit-border-radius:6px;
    border-bottom:1px dotted #d4d4d4;
  }

  li.val input , li.val select {
    border:none;
    background: $fieldBg;
    margin-left:0;
    text-align:left;
    box-shadow:5px 5px 8px #ccc;

  }

  li.buttons { 
    color:transparent;
    width:32px;
    height:32px;
    a {
      color:transparent;
      font-size:32px;
      overlay:hidden;
    }
  }
  
  li.actions {
    float:right;
    margin-right: 4px;
    button {
      margin-right:4px;
    }
  }

  li.show {
    background:url("view32.png");
  }

  li.back, button.back {
    background:url("goback32.png");
  }
}

ul.show.item:hover {
  background:#eee;
  cursor:pointer;
}

button {
  border:none;
  width:16px;
  height:16px;
  margin:0;
  opacity:0.7;
  background:url("edit16.png");
  margin-left: 8px;
  color:transparent;
}

button:hover {
  opacity:1;
  border:1px solid #ccc;
  width:18px;
  height:18px;
}

div.head {
  font-size:28px;
  color:#555;
  width:620px;
  margin:20px 0 14px 20px;
  position:relative;
  float:left;
  font-style:italic;
  font-weight:bold;
 /* background-image: -webkit-gradient(linear, left center, right center, from(#eee), color-stop(100-$colorStop,$barDark),to(#d3d3d3));*/
  box-shadow: 4px 4px 16px #bbb;
  background-image: -webkit-gradient(linear, left center, right center, from(#eee), color-stop(55%,#e8e8e8), to(#d0d0d0));
  -webkit-border-radius:5px;
  padding:8px 0px 0px 5px;

  button {
    color:transparent;
    background:url("goback32.png");
    cursor:pointer;
    margin:-6px 4px 2px 0px;
    width:32px;
    height:32px;
    float:right;
  }
  button.back {
    background:url("goback32.png");
  }
  button.edit {
    background:url("edit32.png");
  }
  button.add, button.new {
    color:transparent;
    cursor:pointer;
    background:url("add16.png");
    height:16px;
    width:16px;
    margin:2px 1px 8px;
  }

  button.showHide {
    background:url("arrow_down24.png");
    height:24px;
    width:24px;
    margin:0px 7px 5px;
  }
  button.showHide.opened {
    background:url("arrow_up24.png");
  }
  
  button.addField {
    background:url("add16.png");
    width:16px;
    height:16px;
    margin:5px 7px 5px;
  }

  button.addField.goBack {
    background:url("goback16.png");
  }
}

div.head.less {
  font-size:15px;
  width:$sidebarWidth - 5px;
  height:21px;
  margin:40px 0 16px;
  padding:1px 2px 1px 4px;
}

div.head.child {
  margin:20px 0 14px 32px;
  width:606px;
  font-size:22px;
}

ul.show.text li.val {
    background: $fieldBg;
}
ul.show.labels {
  margin: 10px 0 5px 20px;
  clear:both;
  height:22px;
  li.lab {
    width:120px;
    text-align:right;
    margin:0 0 0 10px;
    font-size:13px;
  }
}

ul.show.form {
  clear:right;
}

button.alledit{
  background:url("alledit16.png");
}

@mixin saveButton {
  background:url('dbsave24.png');
  width:24px;
  height:24px;
  position:relative;
  float:left;
  margin:-3px 0 0 8px;
  cursor:pointer;
  border:none;
}

button.save {
  @include saveButton;
}


button.add, button.new {
  color:transparent;
  cursor:pointer;
  background:url("add16.png");
  margin-bottom:12px;
}

button.delete {
  background:url("delete16.png");
}

ul.add_field {
  position:relative;
  float:left;
  margin:12px 0 0 20px;
  li {
    button {
      background:url('dbadd24.png');
    }
  }
} 

