/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  background-color:#dee !important;
}

@mixin relBlockLeft {
  display:block;
  position:relative;
  float:left;
}

div.field {
  input, label {
    @include relBlockLeft;
  }
  input {
    border:1px solid #ddd; 
  }
}

div.fields_wrap {
  position:relative;
  float:left;
}
.actions input {
  border:none;
  background:url('dbadd24.png');
  width:24px;
  height:24px;
  color:transparent;
  margin-left:8px;
}

ul.show {
  @include relBlockLeft;
  padding-left:6px;
  width:99%;
  margin:2px 0;
  li {
    @include relBlockLeft;
    list-style:none;
    font-size:16px;
  }
  li.lab {
    font-weight:bold;
    font-size:11px;
    font-style:italic;
    margin:3px 4px 0 12px;
    color:navy;
  }
  li.val,li.val input {
    width:96px;
    min-width:80px;
  }
  li.val input {
    border:1px solid #ddd;
  }
  li.buttons { 
    color:transparent;
    width:32px;
    height:32px;
    a {
      color:transparent;
      font-size:32px;
      overlay:hidden;
    }
  }
  li.show {
    background:url("view32.png");
  }
  li.back {
    background:url("goback32.png");
  }
}

ul.show.form {
  clear:right;
}

div.head {
  font-size:18px;
  color:#353;
  width:99%;
  margin-top:12px;
  position:relative;
  float:left;
  font-style:italic;
  font-weight:bold;
}

button {
  background:url("edit16.png");
  border:none;
  width:16px;
  height:16px;
  margin-left:8px;
}

button.alledit{
  background:url("alledit16.png");
}

button.update{
  background:url('dbsave24.png');
  width:24px;
  height:24px;
  position:relative;
  float:left;
}

button.add {
  background:url("add16.png");
}

button.delete {
  background:url("delete16.png");
}
ul.add_field {
  position:relative;
  float:left;
} 
div.li {
  position:relative;
  float:left;
}
