<div id='appFields'></div>
<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    // onready, instantiate App
    app = new App({el: $("#appFields")})
    app.append( this.item = new App.Fields )
  });
</script>
